.signin
  .title
    Welcome Back! 
  =render :partial=>'users/sessions/form'
  .third_party
    .text
      Sign In using your account with
    =render :partial=>'users/sessions/third_party_signin'
  