=link_to image_tag("facebook_64.png", :alt => "Facebook"), user_omniauth_authorize_path(:facebook, :display=>"dialog"),  :title=>"Facebook"

=link_to image_tag("google_64.png", :alt => "Google"), user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id"), :title=>"GMail"

=link_to image_tag("yahoo_64.png", :alt => "Yahoo"), user_omniauth_authorize_path(:open_id, :openid_url => "yahoo.com"), :title=>"Yahoo"

=link_to image_tag("aol_64.png", :alt => "Aol"), user_omniauth_authorize_path(:open_id, :openid_url => "http://openid.aol.com"), :title=>"Aol"