-content_for :title  do
  ="My Family Setup"

-content_for :user_strip do
  =render :partial=>'shared/profile_links'

-content_for :left_panel do
  #family_information.element
    .element_bar
    .element_container
      .circle_source_name
        ="First enter some basic info about your family, then add adults and children info."
      =render :partial=>'shared/profile_picture_widget_2', :locals=>{:avatar=>@family.avatar, :default_avatar_url=>@family.avatar_url(:large)}
      =render :partial=>'families/form', :locals=>{ :family=>@family, :submit_button_text=>"save" }
      
-content_for :right_panel do
  .element_bar
  .element_container













































































