-content_for :title do
  ="New Group"
        
-content_for :user_strip do
  -# =render :partial=>'shared/classroom_profile_links'

-content_for :left_panel do
  .element_bar
  .element_container
    =render :partial=>'shared/profile_picture_widget_2', :locals=>{:has_avatar=>@group}
    =render :partial=>'groups/form', :locals=>{:group=>@group}

-content_for :right_panel do
  .element_bar
  .element_container
    
  
-content_for :page_javascript do
  :javascript
    load_js_for_classroom_new_page();
