.user_strip_links
  =link_to "Groups", groups_path, :title=>"manage my circles", :id=>"mygroups"
  =link_to "Classrooms", classrooms_path, :title => "view/edit my classrooms", :id=>"myclassrooms"
  =link_to "Schools", schools_path, :title => "view my schools", :id=>"myschools"
  