.help_links
  =link_to "sign in", new_user_session_path
  %br
  =link_to "forgot your password?", new_user_password_path
  %br
  =link_to "didn't receive confirmation instructions?", new_user_confirmation_path
  %br
  =link_to "didn't receive unlock instructions?", new_user_unlock_path