-content_for :title do
  Error: 404

-content_for :single_panel do
    .span-12
      .404_punch
        404 bla!
    .span-12    
      %h1 Sorry!
      %h1 We could not find the page you are looking for. (Error code: 404)
      %p  The page might have moved. You can try to retype the address or contact us