-content_for :title do
  ="Error 500"

-content_for :header do
  =render 'shared/general_header' 
      
-content_for :single_panel do
  .page_error
    .status
      500
    .message
      .title
        Sorry! 
      .text
        = "Something went really wrong!"
      .home_button
        =link_to "Take Me Home", home_path, :class=>"danger button"



