<iframe style="margin:0 0 0 0; overflow: hidden;" title="http://www.chompon.com/i_verify?nver=1&pid=3779&fg=ffffff&wh=920&template=&" frameborder="0" border="0" width="920" height="1800" allowtransparency="true" scrolling="no" id="chompon"></iframe>

<a id="chompon_popup" href="#"></a>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="http://www.chompon.com/fancybox/jquery.fancybox-1.3.4.pack.js?v=6"></script>
<link rel="stylesheet" href="http://www.chompon.com/fancybox/jquery.fancybox-1.3.4.css?v=6" type="text/css" media="screen">
<script>function resizeIframe(height){ document.getElementById('chompon').height = parseInt(height)+80; } function getCOUrlVars(){ if(window.location.href.indexOf('?') != -1) return (''+window.location.href.slice(window.location.href.indexOf('?') + 1)); else return '';} document.getElementById('chompon').src = document.getElementById('chompon').title + getCOUrlVars(); $(document).ready(function(){$("a#chompon_popup").fancybox({'scrolling':'no','hideOnContentClick':false,'type':'iframe','autoDimensions':false,'centerOnScroll':true});});
function OpeniFrameURL(url, wh, ht) {if(url=='close') {$.fancybox.close(); return;}$("#chompon_popup").attr("href", url); $("#chompon_popup").trigger('click'); $("#fancybox-wrap").css({'width': (parseInt(wh)+20)+'px', 'height': (parseInt(ht)+20)+'px', 'left': ($(window).width()-parseInt(wh)-60)/2+'px'}); $("#fancybox-content").css({'width': wh+'px', 'height': ht+'px'});} function SetChomponURL(url){ document.getElementById('chompon').src=url;}
</script>
