-content_for :title  do
  ="Welcome"
    
-content_for :header do
  =render 'shared/general_header' 

-content_for :single_panel do 
  .signup_welcome_message
    .pitch
      .title
        ="#{@user_name},"
        %br
        Thank you for signing up!
      .text
        We have sent you an email at
        %span 
          ="#{@user_email}." 
        Follow the included link to confirm your email address.
        %br
        %br
        =link_to "Didn't receive confirmation instructions?", new_confirmation_path("user")